body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to left,#00F490,#00BBC9);
}
h1{
    font-family: 'Merriweather', serif;
}
.jumbotron{
    background-color: rgba(0, 255, 255, 0);
}
.lead{
    color:white;
    font-size: 2.2rem;
}
nav{
    background-image: linear-gradient(to left,#00F490,#00BBC9);
}
.btn-outline-light{
    border-color: white;
}